@using Microsoft.AspNetCore.Identity
@using MvcCrud.Models;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@model List<School>

@{
    ViewData["Title"] = "All";
}

<h2>@localizer["TableTitle"]</h2>

@Html.ActionLink(localizer["CreateSchool"].Value, "CreateSchool", "School")

@if (Model.Count() > 0)
{
    <table class="table table-hover">
        <thead>
        <th>@localizer["Name"]</th>
        <th>@localizer["Address"]</th>
        <th>@localizer["Year"]</th>
        <th>@localizer["StudCount"]</th>
        <th>@localizer["Edit"]</th>
        <th>@localizer["Delete"]</th>
        <th>@localizer["Details"]</th>


        </thead>
        <tbody>
            @foreach (School school in Model)
            {
                <tr>
                    <td>@school.Name</td>
                    <td>@school.Address</td>
                    <td>@school.FoundingYear.ToString("yyyy-MM-dd")</td>
                    <td>@school.NumberOfStudents</td>
                    <td>@Html.ActionLink(@localizer["Edit"].Value, "EditSchool", "School", new { @id = school.Id })</td>
                    <td>@Html.ActionLink(@localizer["Delete"].Value, "DeleteSchool", "School", new { @id = school.Id })</td>
                    <td>@Html.ActionLink(@localizer["Details"].Value, "SchoolDetails", "School", new { @id = school.Id })</td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center alert-info">
        <h1>There are no schools available.</h1>
    </div>
}
